
body {
  font-family: 'Montserrat', sans-serif;
}

/* title */

h1 {
  font-family: 'Montserrat' , sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat';
 font-weight: 700;
 font-size: 2.5rem;
}
p {
  color: #8f8f8f;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
padding: 3% 15% 7%;
line-height: 1.5;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight:600;
  text-shadow: 1px 1px #ff0000;
  font-size: 2.5rem;
}
.downloads {
  margin: auto auto ;
}
.iphonejpg {
max-height: 600px;
transform: rotate(25deg);
position: absolute;
right: 30%;
top: 10%;
}
.navbar {
  padding-left: 0;
}
.nav-item {
  padding: 0 18px 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
}

.downloadbtn {
  margin: 5% 3% 5% 0%;
}

/* features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.features-col{
text-align: center;
padding: 5%;
}

.features-icons{
  color: #ef8172;
  margin-bottom: 1rem;
}
.features-icons:hover {
  color: #ff4c68
}

/* <!-- Testimonials --> */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin:20px;
}


#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-image {
  width: 11%;
  margin: 20px 20px 40px;
}
.carousel-item {
  padding: 7% 15%;
}

/* pricing */

#pricing {
  text-align: center;
  padding: 100px;
}
.pricing-card {
  padding: 3% 2%;
}

/* media query */

@media (max-width: 1028px){
  .iphonejpg {
    position: static;
    transform: rotate(0);
  }
.container-fluid {
  text-align: center;
}
}

/* cta */

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding:  100px 0 60px;
}
.cta-btn {
  margin: 40px 20px;
}

/* footer */

#footer {
  background-color: #fff;
  padding: 100px 0 60px;
  text-align: center;
}
.footer-icons {
  padding: 0 10px;
}
